// colors

// GitOps Days Purple
$accentColor = #801D7F


// cuttle light purple
// $accentColor = #9d78b0

// cuttle dark purple
// $accentColor = #5e3677


// weave light blue
// $accentColor = #00d2ff
// $accentColor = darken(#00d2ff, 30%)
